<template>
    <div style="background-color: #f5f5f5">
        <div v-if="!user.authenticated">
            <header-bar></header-bar>
        </div>
        <div v-else>
            <authenticated-header></authenticated-header>
        </div>
        <div>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import auth from './session/auth';
    import {
        router
    } from './main';
    import header from './components/Header.vue';
    import authenticatedHeader from './components/AuthenticatedHeader.vue';
    
    export default {
        data() {
            return {
                user: auth
            }
        },
        created() {
            //this.isAuthenticated = auth.isAuthenticated();
        },
        computed: {
            // isAuthenticated: function() {
            //     return auth.isAuthenticated();
            // }
        },
        methods: {
            
        },
        components: {
            'header-bar': header,
            'authenticated-header': authenticatedHeader
        }
    }
</script>

<style>

    .header-bar-logo {
        text-align: center;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

</style>
