<template>
    <div class="row" style="background-color: white;">
        <div class="col-md-12">
            <div class="col-md-3">
                <img src="../assets/images/temper-logo.png" class="header-bar-logo">
            </div>
            <div class="col-md-2 pull-right" style="margin-top: 25px;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                        <img src="../assets/images/profile.png" class="img-responsive img-circle" title="John Doe" alt="John Doe" width="55px" height="30px">
                    </span>
                    <span class="user-name">
                        {{ name }}
                    </span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li v-if="isAdmin">
                        <a href="#/dashboard" >Dashboard</a>
                    </li>
                    <li>
                        <a href="#" @click.prevent="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import auth from '../session/auth';
    import {
        router
    } from '../main';

    export default {
        data() {
            return {
                name: auth.user.name,
                isAdmin: (auth.user.role_id == 1) ? true : false
            }
        },
        methods: {
            logout() {
                var _this = this;
                auth.logout('login').then(function(response) {
                    router.push({
                        name: 'login'
                    })
                })
                .catch(function(error) {
                    console.log(error);
                });
            }
        },
    }
</script>

<style scoped>

    .header-bar-logo {
        display: block;
        width: 65%;
    }

</style>