<template>
    <div>
        <spline-chart v-if="isLoading" chartId="chart1" :chartData="weeklyCohortData"></spline-chart>
    </div>
</template>

<script>
    import {
        vm,
        router
    } from '../main';
    import splineChart from './SplineChart.vue';
    import adapter from '../api/adapter';
    import auth from '../session/auth';
    
    export default {
        data() {
            return {
                weeklyCohortData: {
                    chart: {
                        type: 'spline',
                        scrollablePlotArea: {
                            minWidth: 600,
                            scrollPositionX: 1
                        }
                    },
                    title: {
                        text: 'Weekly onboarding cohorts'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'Onboarding Step',
                        title: {
                            text: 'Onboarding Step'
                        },
                        labels: {
                            overflow: 'justify'
                        },
                        tickInterval: 1
                    },
                    yAxis: {
                        title: {
                            text: 'Percentage Of Users (%)'
                        },
                        max: 100,
                        minorGridLineWidth: 1,
                        gridLineWidth: 1,
                        alternateGridColor: null
                    },
                    tooltip: {
                        valueSuffix: '%'
                    },
                    plotOptions: {
                        spline: {
                            lineWidth: 3,
                            states: {
                                hover: {
                                    lineWidth: 4
                                }
                            },
                            marker: {
                                enabled: false
                            },
                            pointInterval: 1,
                            pointStart: 1
                        }
                    },
                    series: [],
                    legend: {
                        layout: 'proximate',
                        align: 'right'
                    },
                    navigation: {
                        menuItemStyle: {
                            fontSize: '10px'
                        }
                    }
                },
                isLoading: false
            }
        },
        created() {
            this.getWeeklyCohorts();
        },
        methods: {
            getWeeklyCohorts() {
                var _this = this;
                return adapter.request('weekly-cohorts', 'get').then(function(response) {
                    var series = response.data;
                    _this.weeklyCohortData.series = series;
                    _this.isLoading = true;
    
                    return;
                }).catch(function(error) {
                    // handle error
                    console.log('error', error);
                });
            }
        },
        beforeRouteEnter(to, from, next) {
            if (auth.authenticated && auth.user.role_id == 1) {
                next();
            } else {
                router.push({
                    name: 'home'
                })
                return;
            }
        },
        components: {
            'spline-chart': splineChart
        }
    }
</script>