<template>
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-6 col-md-offset-3">
            <img src="../assets/images/temper-logo.png" class="header-bar-logo">
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        }
    }
</script>

<style scoped>

    .header-bar-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

</style>