<template>
    <div class="page-header">
        <h1 class="text-center">Welcome <small> {{ user.name }} !</small></h1>
    </div>
</template>

<script>
    import adapter from '../api/adapter';
    import auth from '../session/auth';
    import {
        vm,
        router
    } from '../main';
    
    export default {
        data() {
            return {
                user: auth.user,
            }
        },
        created() {
            return adapter.request('user', 'get', {}).then(function(response) {
                    return;
            })
            .catch(function(error) {
                // handle error
                console.log('error', error);
            });
        },
        beforeRouteEnter(to, from, next) {
            if (!auth.authenticated) {
                router.push({
                    name: 'login'
                })
                return;
            }
            next();
        }
    }
</script>