<template>
    <div>
        <!--<div class="alert alert-danger" v-if="error">
                                <p>There was an error, unable to sign in with those credentials.</p>
                            </div>-->
    
    
        <div id="wrapper">
            <form autocomplete="off" @submit.prevent="login" method="post">
                <div>
                    <input type="email" id="email" placeholder="Email" v-model="email" required>
                    <input type="password" id="password" placeholder="Password" v-model="password" required>
                    <input type="submit" value="login">
                </div>
    
                <div style="margin-top: 30px;">
                    <label>Not registered? <span>Create an account</span></label>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import auth from '../session/auth';
    import {
        vm,
        router
    } from '../main';
    
    export default {
        data() {
            return {
                email: null,
                password: null,
                error: false
            }
        },
        methods: {
            login() {
                var credentials = {
                    email: this.email,
                    password: this.password
                };
                auth.login(credentials).then(function(response) {
                        router.push({
                            name: 'dashboard'
                        })
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            }
        },
        beforeRouteEnter(to, from, next) {
            if (auth.authenticated) {
                router.push({
                    name: from.name
                })
                return;
            }
            next();
        }
    }
</script>

<style scoped>
    #wrapper {
        -webkit-perspective: 500px;
        perspective: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
    
    h1 {
        color: #416171;
        font-size: 43px;
        margin: 0;
    }
    
    h2 {
        color: #349E97;
        margin: 0;
    }
    
    form {
        margin: 35px 0;
    }
    
    #inputs {
        height: 127px;
        -webkit-transition: height .5s ease-in-out;
        transition: height .5s ease-in-out;
    }
    
    #inputs div {
        height: 41px;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transition: -webkit-transform .5s ease-in-out;
        transition: -webkit-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
        transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
    }
    
    #inputs>div>div>div {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    #inputs>div>div>div input:nth-child(2),
    #inputs>div>div>div>div input:nth-child(2) {
        -webkit-transform: translateZ(-1px) rotateX(180deg);
        transform: translateZ(-1px) rotateX(180deg);
    }
    
    #inputs>div>div>div>div {
        -webkit-transform: translateY(-41px) rotateX(0deg);
        transform: translateY(-41px) rotateX(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    input {
        background: #FFFEFC;
        border: 0;
        box-sizing: border-box;
        display: block;
        font-family: Raleway, sans-serif;
        font-weight: 600;
        font-size: 12px;
        margin: 0 auto;
        padding: 13px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        width: 300px;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-font-smoothing: antialiased;
    }
    
    input:hover {
        background: #f3f3f3;
    }
    
    input:focus {
        background: #EAEAEA;
    }
    
    input[type=submit] {
        background: #43434C;
        color: #FFFEFC;
        cursor: pointer;
    }
    
    input[type=radio] {
        display: none;
    }
    
    input:checked[value=reset]~#inputs {
        height: 84px;
    }
    
    input:checked[value=reset]~#labels {
        margin-top: -10px;
    }
    
    input:checked[value=reset]~#inputs div>div>div {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    
    input:checked[value=reset]~#inputs div>div>div>div {
        -webkit-transform: translateY(-41px) rotateX(180deg);
        transform: translateY(-41px) rotateX(180deg);
    }
    
    input:checked[value=reset]~#labels label[for=reset],
    input:checked[value=reset]~#labels label[for=register],
    input:checked[value=reset]~#labels label[for=login]:first-child {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
        opacity: 0;
    }
    
    input:checked[value=register]~#inputs {
        height: 170px;
    }
    
    input:checked[value=register]~#labels {
        margin-top: 30px;
    }
    
    input:checked[value=register]~#labels label[for=reset],
    input:checked[value=register]~#labels label[for=register],
    input:checked[value=register]~#labels label[for=login]:nth-child(3) {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
        opacity: 0;
    }
    
    input:checked[value=login]~#labels {
        margin-top: 11px;
    }
    
    input:checked[value=login]~#inputs div>div>div>div {
        -webkit-transform: translateY(-41px) rotateX(180deg);
        transform: translateY(-41px) rotateX(180deg);
    }
    
    input:checked[value=login]~#labels label[for=login] {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
        opacity: 0;
    }
    
    #labels {
        -webkit-transition: margin .5s ease-in-out;
        transition: margin .5s ease-in-out;
    }
    
    label {
        display: block;
        font-size: 14px;
        color: #43434C;
        margin-bottom: 5px;
        font-weight: 600;
        height: 16px;
        -webkit-transition: opacity 1s .3s;
        transition: opacity 1s .3s;
        overflow: hidden;
    }
    
    label span {
        cursor: pointer;
        color: #349E97;
    }
</style>