<template>
    <div class="row help-page">
        <div class="col-sm-12 page-section">
            <div class="pd-container">
                <div class="pd-content">
                    <div class="pd-title">page not found</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data: function() {
            return {
            }
        }
    }
</script>

<style>
	.pd-container {
            text-align: center;
            vertical-align: middle;
            color: #B0BEC5;
            font-weight: 100;
        }

        .pd-content {
            text-align: center;
            display: inline-block;
        }

        .pd-title {
            margin-top: 65%;
            font-size: 45px;
            margin-bottom: 40px;
        }
</style>