<template>
    <div class="col-md-10 col-md-offset-1 chart-container">
        <div :id="chartId" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</template>

<script>
    import adapter from '../api/adapter';
    var Highcharts = require('highcharts');
    
    // Load module after Highcharts is loaded
    require('highcharts/modules/exporting')(Highcharts);
    
    export default {
        props: ['chartId', 'chartData'],
        data() {
            return {
    
            }
        },
        mounted() {
            Highcharts.chart(this.chartId, this.chartData);
        }
    }
</script>

<style>
    .chart-container {
        margin-top: 20px
    }
</style>