<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <nav>
                <ul class="list-inline">
                    <li>
                        <router-link :to="{ name: 'home' }">Home</router-link>
                    </li>
                    <li v-if="!user.authenticated" class="pull-right">
                        <router-link :to="{ name: 'login' }">Login</router-link>
                    </li>
                    <li v-if="!user.authenticated" class="pull-right">
                        <router-link :to="{ name: 'register' }">Register</router-link>
                    </li>
                    <li v-if="user.authenticated" class="pull-right">
                        <a href="#" @click.prevent="logout()">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="panel-body">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>

    import auth from './session/auth';
    import {router} from './app';

    export default {
        data(){
            return {
                user: auth
            }
        },
        created() {
            //this.isAuthenticated = auth.isAuthenticated();
        },
        computed: {
            // isAuthenticated: function() {
            //     return auth.isAuthenticated();
            // }
        },
        methods: {
            logout(){
                var _this = this;
                auth.logout('login').then(function (response) {
                    router.push({ name: 'login' })
                })
                .catch(function (error) {
                    console.log(error);
                });     
            }
        }
    }
</script>